# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-REEMPLAZA_CON_TU_ACCESS_TOKEN

# URLs de retorno (ajusta según tu dominio)
MP_SUCCESS_URL=http://127.0.0.1:3000/
MP_PENDING_URL=http://127.0.0.1:3000/
MP_FAILURE_URL=http://127.0.0.1:3000/

# Opcional: URL base pública si luego agregas webhook
# APP_BASE_URL=https://tu-dominio.com
